body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(233, 230, 230);
    position: absolute;
}

main {
    position: absolute;
    text-align: center;
}

#blur {
    position: fixed;
    background: rgba(0, 0, 0, 0.336);
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.hide {
    margin-left: auto;
    margin-right: auto;
    margin-top : 10%;
    height: 60%;
    width: 70%;
    background: lightgrey;
    visibility: hidden;
    display: flex;
}

img {
    max-width: 30%;
    height: auto;
    cursor: pointer;
    transition: transform .2s;
}

main img:hover {
    transform: scale(1.2);
}

.photo {
    position: relative;
    float:left;
} 

div img {
    margin : 2% 0% 2% 2%;
    padding-right: 5%;
    border-right: 2px solid black;
    cursor: zoom-in;
}

.close {
    float:right;
    font-size: 25px;
    color:white;
    margin-top:5%;
    margin-right:5%;    
}

