
.eleonore {
   display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.formateurs {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
    
    
    
    
.students {
    
    justify-content: space-around;
    
    
    

}


.box {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;


    justify-content: space-around;

    

}


.staff img {
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    cursor:pointer;
    transition-duration: 0.3s;
    transition-property: transform;
}

.staff img:hover,
.staff img:focus,
.staff img:active {
    transform: scale(1.1);
}

.staff img {
  opacity: 0.5;
}
.staff img:hover {
  opacity: 1;
}


.student img{
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;
    cursor:pointer;
    }


.student img{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    
    transition-duration: 0.3s;
    transition-property: transform;
}

.student img:hover,
.student img:focus,
.student img:active {
    transform: scale(1.1);
}
.student img {
  opacity: 0.5;
}
.student img:hover {
  opacity: 1;
}




.manager_formateur {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    
}



.etudiants {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;



}

.sub_block {

    margin: 4px;

}

/*---- transparant de pop up ----*/
#blur {
  position: fixed;
  background: rgba(0, 0, 0, 0.336);
  height: 100%;
  width: 100%;
  visibility: visible;
  z-index: 5;
}

/*---- fond pop up ----*/
.hide {
  position : fixed;
  margin: 10% 10% 10% 10%;
  height: 60%;
  width: 70%;
  background: lightgrey;
  visibility: hidden;
  display: flex;
  z-index: 7;
}

/*---- style photo popup ----*/

.photo {
  position: relative;
  float:left;
  margin : 2% 0% 2% 2%;
  padding-right: 5%;
  border-right: 2px solid black;
} 

div.photo img {
  width: 200px;
  height: 200px;
}

/*--- Bouton pour fermer ---*/
.close {
  float:right;
  font-size: 25px;
  color:white;
  margin-top:5%;
  margin-right:5%;
  z-index: 6;    
}


/*---- footer ----*/
#footer {
  background-color: #BDBDBB;
  opacity: 0,8;
  color: #F76C6C;
  text-align: center;
  width: 100;
  padding : 4vh;
  margin-bottom:0;
}

.footer_parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer_child a {
  color: #F76C6C;
  text-decoration: none;
}

.love {
  padding-top: 4vh;
  font-size: 1.8vh;
  text-transform: uppercase;
}


@media all and (max-width:1080px){
  .love {
    font-size: 1.3vh;
  }
}

@media all and (max-width:800px){
  .love {
    font-size: 0.8vh;
  }
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;

}
