
.eleonore {
   display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.formateurs {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
    
    
    
    
.students {
    
    justify-content: center;
    
    

}


.box {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    justify-content: center;
    

}


.staff img {
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;


    transition-duration: 0.3s;
    transition-property: transform;
}

.staff img:hover,
.staff img:focus,
.staff img:active {
    transform: scale(1.1);
}

.staff img {
  opacity: 0.5;
}
.staff img:hover {
  opacity: 1;
}


.student img{
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;

    }


.student img{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    
    transition-duration: 0.3s;
    transition-property: transform;
}

.student img:hover,
.student img:focus,
.student img:active {
    transform: scale(1.1);
}
.student img {
  opacity: 0.5;
}
.student img:hover {
  opacity: 1;
}




.manager_formateur {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    
}



.etudiants {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;



}

.sub_block {

    margin: 4px;

}


/*---- footer ----*/
#footer {
  background-color: #BDBDBB;
  opacity: 0,8;
  color: #F76C6C;
  text-align: center;
  width: 100;
  padding : 4vh;
  margin-bottom:0;
}

.footer_parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer_child a {
  color: #F76C6C;
  text-decoration: none;
}

.love {
  padding-top: 4vh;
  font-size: 1.8vh;
  text-transform: uppercase;
}


@media all and (max-width:1080px){
  .love {
    font-size: 1.3vh;
  }
}

@media all and (max-width:800px){
  .love {
    font-size: 0.8vh;
  }
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
