.student img{
    width: 150px;
    height: 150px;
    border:2px solid black;
    border-radius:20px;
    }


.student img{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    
    transition-duration: 0.3s;
    transition-property: transform;
}

.student img:hover,
.student img:focus,
.student img:active {
    transform: scale(1.1);
}

.box1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
    
}

.box2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}

.box3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}


.student div {
    
    margin: 4px
}

