/*---- header - navbar ----*/
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #BDBDBB;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float:left;
  padding: 10px 0;
}

nav {
  padding-top: 1vh;
  float:right;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #F76C6C;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #015f7d;
}

nav a::before {
  content: '';
  display:block;
  height: 5px;
  width: 100%;
  margin-bottom: 1vh;
  border-radius: 4px;
  background-color: #015f7d;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*---- header - navbar ----*/

/*---- partie flexbox avec photo  ----*/
.staff {
  padding-top: 20vh;
}

.eleonore {
   display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.formateurs {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.students {

    justify-content: center;



}


.box {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    justify-content: center;


}


.staff img {
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;


    transition-duration: 0.3s;
    transition-property: transform;
}

.staff img:hover,
.staff img:focus,
.staff img:active {
    transform: scale(1.1);
}

.staff img {
  opacity: 0.5;
}
.staff img:hover {
  opacity: 1;
}


.student img{
    width: 200px;
    height: 200px;
    border:2px solid #F76C6C;
    border-radius:20px;

    }


.student img{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;

    transition-duration: 0.3s;
    transition-property: transform;
}

.student img:hover,
.student img:focus,
.student img:active {
    transform: scale(1.1);
}
.student img {
  opacity: 0.5;
}
.student img:hover {
  opacity: 1;
}




.manager_formateur {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;

}



.etudiants {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;



}

.sub_block {

    margin: 4px;

}

/*---- partie flexbox avec photo  ----*/


/*---- footer ----*/
#footer {
  background-color: #BDBDBB;
  color: #F76C6C;
  text-align: center;
  width: 100;
  padding : 4vh;
  margin-bottom:0;
}

.footer_parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer_child a {
  color: #F76C6C;
  text-decoration: none;
}

.love {
  padding-top: 4vh;
  font-size: 1.8vh;
  text-transform: uppercase;
}


@media all and (max-width:1080px){
  .love {
    font-size: 1.3vh;
  }
}

@media all and (max-width:800px){
  .love {
    font-size: 0.8vh;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
