body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.student img{
    width: 300px;
    height: 300px;
    border:2px solid black;
    border-radius:20px;
    }


.student img{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;

    transition-duration: 0.3s;
    transition-property: transform;
}

.student img:hover,
.student img:focus,
.student img:active {
    transform: scale(1.1);
}

.box1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;

}

.box2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}

.box3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}

.box4 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}

/*---- footer ----*/
#footer {
  background-color: #BDBDBB;
  color: #F76C6C;
  text-align: center;
  width: 100%
}
.love {
  padding-top: 1vh;
  text-transform: uppercase;
}
